<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scans</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        /* Add some styling for the table */
    </style>
</head>
<body>
<div>

</div>
<form action="{{ url_for("gfg")}}" method="post">
    <label>
        <input type="text" name="ip">
    </label>
    <button type="submit" id="ip_butt">scan</button>

</form>
    <div class="container">
        <h1 class="my-4" href="">Scan</h1>

        <!-- Add button for adding a new employee -->

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>IP</th>
                    <th>PORT</th>
                    <th>SERVICE</th>
                    <th>PRODUCT</th>
                    <th>VERSION</th>
                </tr>
            </thead>
            <tbody>
                {% for scan in scans %}
                    <tr>
                        <td>{{ scan[0] }}</td>
                        <td>{{ scan[1] }}</td>
                        <td>{{ scan[2] }}</td>
                        <td>{{ scan[3] }}</td>
                        <td>{{ scan[4] }}</td>
                        <td>
                            <!-- Add links for editing and deleting the employee -->
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>